# Arquivos que NÃO devem ser copiados para a imagem do contêiner:

# Pastas de dependências que serão instaladas no Docker
node_modules

# Saída de build que será gerada dentro do contêiner
dist
build

# Arquivo .env que não deve ser copiado
.env

# Outros arquivos de configuração/build
.dockerignore
Dockerfile
.git
.gitignore
.DS_Store